@mixin search-bar-input{
    transition: 0.2s;
    background-color: #e9e5e2;
    border-radius: 1dvh;
    border: #c7c7c7 solid 0.2dvh;
    height: 3vh;
    width: 30vh;
    font-weight: bold;
    outline: none;
}

@mixin arrow-up-layout{
    width: 5vh;
    height: 5vh;
    border-radius: 1vh;
    border: #ae3a33 solid 2px;
    position: absolute;
    bottom : 1vh;
    right: 1vh;
    a{
        background:none;
        cursor: pointer;
            img{
                width: 5vh;
                height: 5vh;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
    }
    &:hover{
        transform: scale(1.1);
    }
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: #e9e5e2;
    margin: 0px;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    position: relative;
    header {
        height: 22dvh;
        width: 100%;
        background-color: #231f20;
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 2fr 0.2fr;
        justify-items: center;
        margin: 0;
        padding: 0;
        #burger {
            display: none;
            grid-column: 1;
            justify-self: center;
            button{
                background-color: #231f20;
                border: none;
                .toggle {
                    position: relative;
                    width: 70px;
                    height: 70px;
                    background-color: #ae3a33;
                    border-radius: 50%;                             //Border radius a 50% pour former un cercle
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    overflow: hidden;                               //Masque le débordement
                }
                .toggle span{                                       //Me permet de donner une couleur,
                    position: absolute;                             //une épaisseur et des bords identique 
                    background-color: rgb(242, 211, 160);         //à tous mes spans
                    border-radius: 4px;
                    cursor: pointer;
                    transition: 0.5s;
                    height: 4px;
                }                                                   //A partir d'ici je défini taille
                .toggle .line{                                      // et position a chaque span
                    width: 40px;
                }
                
                .toggle .dot{
                    width: 4px;
                }
                
                .toggle span:nth-child(1){
                    translate : -25px -15px;
                }
                
                .toggle span:nth-child(2){
                    translate: 5px -15px;
                }
                
                .toggle span:nth-child(3){
                    translate: -25px;
                }
                
                .toggle span:nth-child(4){
                    translate: 5px;
                }
                
                .toggle span:nth-child(5){
                    translate : -25px 15px;
                }
                
                .toggle span:nth-child(6){
                    translate : 5px 15px;
                }
                                                                //Ici modification de chaque span au hover(plus tard aussi au clic)
                .toggle.toggle:hover span:nth-child(1){
                    transform: scale(1.4) translateX(15px) translateY(5px);
                }
                
                .toggle.toggle:hover span:nth-child(2) {
                    width: 45px;
                    transform: translateX(-17px) translateY(18px) rotate(60deg);
                    transition-delay: 0.125s;
                }
                
                .toggle.toggle:hover span:nth-child(3){
                    transform: scale(1.3) translateX(20px) translateY(4px);
                }
                
                .toggle.toggle:hover span:nth-child(4){
                    width: 45px;
                    transform: translateX(6px) translateY(3px) rotate(300deg);
                }
                
                .toggle.toggle:hover span:nth-child(5){
                    background-color: black;
                    transform: scale(1.6) translateX(22px) translateY(-15px);
                }
                
                .toggle.toggle:hover span:nth-child(6){
                    height: 7px;
                    width: 46px;
                    transform: translateX(-6px) translateY(-32px);
                    border-radius: 100% 100% 50% 50%;
                }
            }
            
        }
        section{
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            justify-self: end;
            gap: 5px;
            margin-top: 0.5dvh;
            margin-right: 0.5dvh;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-self: flex-start;
                gap: 0.5dvh;
                a{
                    width: 8dvh;
                    height: 5dvh;
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    text-align: center;
                    &:hover{
                        text-decoration: underline;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        #container-logo-header{
            grid-column: 2;
            width: auto;
            height: 18dvh;
            a {
            text-align: center;
                img{
                height: 100%;
                width: 100%;
                }
            }
        }
        #navbar{
            grid-row: 2;
            grid-column: 1 /span 3;
            justify-self: center;
            ul{
                padding: 0.5dvh;
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            gap: 7dvh;
            li{
                float: left;
                #bp{
                    color: #ae3a33;
                }
                a{
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                
                }
            }
        }
    }
    main{
        position: relative;
        display: flex;
        flex-direction: column;
        section{
            display: flex;
            .article{
                display: flex;
                flex-wrap: wrap;
                width: 20dvh;
                height: 30dvh;
                border: #c7c7c7 solid 2px;
                padding: 3px;
                margin: 1dvh;
                justify-content: center;
                img{
                    align-self: center;
                    width: 18dvh;
                    height: 12dvh;
                }
                .viande{
                    width: 18dvh;
                }
                .prix{
                    width: 40%;
                }
                .prix-kg{
                    width: 50%;
                }
                form{
                    width: 18dvh;
                    input:nth-child(1){
                        width: 20%;
                    }
                    input:nth-child(2){
                        width:70%;
                    }
                }
            }
        }
        #contain-search-bar{
            display: flex;
            justify-content: center;
            #search-bar{
                margin-top: 2vh;
                form{
                    display: flex;
                    flex-direction: row-reverse;
                    input{
                        @include search-bar-input;
                        font-weight: bold;
                        font-size: larger;
                        padding-left: 1vh;
                    }
                    button{
                        position: absolute;
                        background: none;
                        border: none;
                        align-self: center;
                        cursor: pointer;
                    }
                }
            }
            #search-bar.original{
                margin-top: 2vh;
                form{
                    input{
                        @include search-bar-input
                    }
                }
            }
            #search-bar.fixed {
                margin-top: 2vh;
                position: fixed;
                top: 0;
                opacity: 90%;
                form{
                    input{
                        @include search-bar-input
                    }
                }
            }
        }
        .container{
            margin: 4vh 0px 4vh 0px;
            height: 60vh;
            border: solid 5px #ae3a33;
            display: flex;
            align-self: center;
            justify-content: center;
            width: 75%;
            .container-img{
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
        #gotoshopbtn{
            text-align: center;
            a{
                font-weight: bold;
                color: #e9e5e2;
                background-color: #ae3a33;
                text-decoration: none;
                border-radius: 1.5vh;
                border: #ae3a33 solid 2px;
                padding: 1vh 3vh 1vh 3vh;
                &:hover{
                    color: #ae3a33;
                    background-color: #e9e5e2;
                    text-decoration: underline;
                }
            }
        }
        #contain-arrowup{
            height: 10vh;
            position: relative;
            #arrow-up{
                @include arrow-up-layout()
            }
        }
    }

    footer{
        position: relative;
        height: 50dvh;
        width: 100%;
        background-color: #231f20;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 3fr 1fr 0.20fr;
        justify-items: center;
        #newsletter{
            border: solid 2px #e9e5e2 ;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            grid-row: 1 /span 3;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
            padding-left: 5dvw;
            padding-right: 5dvw;
            h4{
                color: #e9e5e2;
                padding: 0px 20px 0px 20px;
                font-weight: normal;
            }
            input{
                margin: 20px 5px 20px 5px;
                border-radius: 7px;
                background-color: #e9e5e2;
                outline: none;
            }
            button{
                margin-left: 60px;
                margin-right: 60px;
                border-radius: 7px;
                background-color: #e9e5e2;
                color: #231f20;
            }
        }
        #footer-icons{
            grid-row: 1;
            grid-column: 2;
            display: flex;
            justify-content: center;
            align-self: center;
            gap: 40px;
            .line{
                border: #ae3a33 solid 0.1dvh;
            }
            div{
                display: flex;
                flex-direction: column;
                align-self: center;
                gap: 10px;
                a{
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    align-self: center;
                    text-align: center;
                    &:hover{
                        text-decoration: underline;
                    }
                    img{
                        height: 8dvh;
                        width: 8dvh;
                    }
                }
            }
        }
        #contain-logo-footer{
            width: auto;
            height: 20dvh;
            grid-row: 2;
            grid-column: 1 /span 3;
            text-align: center;
            align-self: flex-end;
            grid-column: 2;
            a {
                img{
                    height: 100%;
                    width: 100%;
                }
        }
        }
        #bottom-txt{
            grid-row: 3;
            grid-column: 2;
            p{
                color: #e9e5e2;
                a{
                    color: #e9e5e2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        #social-media{
            grid-row: 1;
            grid-column: 3;
            display: flex;
            gap: 5vh;
            align-self: center;
            a{
                img{
                    height: 7vh;
                    width: 7vh;
                }
            }
        }
        #paiement{
            align-self: flex-end;
            img{
                height: 5vh;
                width: 5vh;
            }
        }
    }
}


//Responsiveness
@media only screen and (max-width: 1410px){
    body{
        header{
            #navbar{
                ul{
                    gap: 5dvh;
                }
            }
        }
        footer{
            height: 67dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            #paiement{
                align-self: center;
            }
            #contain-logo-footer{
                align-self: center;
            }
            #footer-icons{
                flex-wrap: wrap;
            }
            #newsletter{
                margin : 1.5rem 0 1.5rem 0;
                padding-bottom: 1.5rem;
            }
        }
    }
}
@media only screen and (max-width: 1120px){
    body{
        header{
            #navbar{
                ul{
                    gap: 3dvh;
                }
            }
        }
    }
}
@media only screen and (max-width: 923px){
    body{
        header{
            #burger{
                display: block;
                align-self: center;
            }
            #navbar{
                display: none;
            }
            section{
                flex-direction: column;
                justify-content: center;
                margin-top: 0;
                margin-right: 0;
                gap: 2dvh;
                div{
                    .header-txt{
                        display: none;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 923px){
    body{
        footer{
            height: 80dvh;
            #footer-icons{
                .footer-icon{
                    a{
                        img{
                            width: 5dvh;
                            height: 5dvh;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 535px){
    body{
        footer{
            height: 90dvh;
        }
    }
}
@media only screen and (max-width: 430px){
    body{
        footer{
            height: 104dvh;
            #footer-icons{
                .line:nth-of-type(even){
                    display: none
                }
                .footer-icon{
                    a{
                        img{
                            width: 5dvh;
                            height: 5dvh;
                        }
                    }
                }
            }
        }
    }
}
