body {
    background-color: #e9e5e2;
    margin: 0px;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    position: relative;
    header {
        height: 20vh;
        width: 100%;
        background-color: #231f20;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-items: center;
        margin: 0px;
        padding: 0px;
        section{
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            justify-self: end;
            gap: 5px;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-self: flex-start;
                margin-top: 30px;
                margin-right: 20px;
                a{
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
        a {
            text-align: center;
            align-self: center;
            grid-column: 2;
            img{
                height: 15vh;
                width: 60vh;
            }
        }
        ul{
            list-style-type: none;
            grid-row: 2;
            grid-column: 1 /span 3;
            li{
                float: left;
                margin-right: 70px;
                #bp{
                    color: #ae3a33;
                }
                a{
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                
            }
        }
    }
    #contain-search-bar{
        display: flex;
        justify-content: center;
        #search-bar{
            margin-top: 2vh;
            form{
                display: flex;
                flex-direction: row-reverse;
                input{
                    transition: 0.2s;
                    background-color: #e9e5e2;
                    border-radius: 9px;
                    border: #c7c7c7 solid 2px;
                    height: 3vh;
                    width: 30vh;
                    font-weight: bold;
                    font-size: larger;
                    padding-left: 1vh;
                }
                button{
                    position: absolute;
                    background: none;
                    border: none;
                    align-self: center;
                    cursor: pointer;
                }
            }
        }
        #search-bar.original{
            margin-top: 2vh;
            form{
                input{
                    transition: 0.2s;
                    background-color: #e9e5e2;
                    border-radius: 9px;
                    border: #c7c7c7 solid 2px;
                    height: 3vh;
                    width: 30vh;
                    font-weight: bold;
                }
            }
        }
        #search-bar.fixed {
            margin-top: 2vh;
            position: fixed;
            top: 0;
            opacity: 90%;
            form{
                input{
                    transition: 0.2s;
                    background-color: #e9e5e2;
                    border-radius: 9px;
                    border: #c7c7c7 solid 2px;
                    height: 3vh;
                    width: 30vh;
                    font-weight: bold;
                }
            }
        }
    }
    .container{
        margin: 4vh 0px 4vh 0px;
        height: 70vh;
        border: solid 5px #ae3a33;
        .container-img{
            height: 70vh;
            width: 90vh;
            img{
                width: 100%;
                height: 100%;
            }
        }

    }
    footer{
        bottom: 0;
        height: 30%;
        width: 100%;
        background-color: #231f20;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 0.20fr;
        justify-items: center;
        #newsletter{
            border: solid 2px #e9e5e2 ;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            grid-row: 1 /span 3;
            justify-content: center;
            margin-top: 10vh;
            margin-bottom: 10vh;
            padding-left: 60px;
            padding-right: 60px;
            h4{
                color: #e9e5e2;
                padding: 0px 20px 0px 20px;
                font-weight: normal;
            }
            input{
                margin: 20px 5px 20px 5px;
                border-radius: 7px;
                background-color: #e9e5e2;
            }
            button{
                margin-left: 60px;
                margin-right: 60px;
                border-radius: 7px;
                background-color: #e9e5e2;
                color: #231f20;
            }
        }
        #footer-icons{
            margin-top: 50px;
            grid-row: 1;
            grid-column: 2;
            display: flex;
            justify-self: stretch;
            justify-content: center;
            align-self: center;
            gap: 40px;
            .footer-icon{
                border-right: #ae3a33 solid 2px;
                padding-right: 30px;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-self: center;
                gap: 10px;
                a{
                    font-weight: bold;
                    color: #e9e5e2;
                    text-decoration: none;
                    justify-self: center;
                    align-self: center;
                    &:hover{
                        text-decoration: underline;
                    }
                    img{
                        height: 75px;
                        width: 75px;
                    }
                }
            }
        }
        a {
            grid-row: 2;
            grid-column: 1 /span 3;
            text-align: center;
            align-self: flex-end;
            grid-column: 2;
            img{
                height: 17vh;
                width: 60vh;
            }
        }
        #bottom-txt{
            grid-row: 3;
            grid-column: 2;
            p{
                color: #e9e5e2;
                a{
                    color: #e9e5e2;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        #social-media{
            grid-row: 1;
            grid-column: 3;
            display: flex;
            gap: 5vh;
            align-self: center;
            a{
                img{
                    height: 75px;
                    width: 75px;
                }
            }
        }
        #paiement{
            align-self: flex-end;
            img{
                height: 5vh;
                width: 5vh;
            }
        }
    }
}