*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #e9e5e2;
}

#admin-panel {
    width: 50%;
}

#admin-commands{
    width: 50%;
}

.form-add{
    margin: 5px;
    padding: 5px;
}

.form-add fieldset {
    padding: 5px;
}

.form-add fieldset input {
    margin: 2px;
    padding: 2px;
}