* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9e5e2;
  margin: 0;
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
body header {
  height: 25%;
  width: 100%;
  background-color: #231f20;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 2fr 0.2fr;
  justify-items: center;
  margin: 0;
  padding: 0;
}
body header #burger {
  display: none;
  grid-column: 1;
  justify-self: center;
}
body header #burger button {
  background-color: #231f20;
  border: none;
}
body header #burger button .toggle {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #ae3a33;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
body header #burger button .toggle span {
  position: absolute;
  background-color: rgb(242, 211, 160);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  height: 4px;
}
body header #burger button .toggle .line {
  width: 40px;
}
body header #burger button .toggle .dot {
  width: 4px;
}
body header #burger button .toggle span:nth-child(1) {
  translate: -25px -15px;
}
body header #burger button .toggle span:nth-child(2) {
  translate: 5px -15px;
}
body header #burger button .toggle span:nth-child(3) {
  translate: -25px;
}
body header #burger button .toggle span:nth-child(4) {
  translate: 5px;
}
body header #burger button .toggle span:nth-child(5) {
  translate: -25px 15px;
}
body header #burger button .toggle span:nth-child(6) {
  translate: 5px 15px;
}
body header #burger button .toggle.toggle:hover span:nth-child(1) {
  transform: scale(1.4) translateX(15px) translateY(5px);
}
body header #burger button .toggle.toggle:hover span:nth-child(2) {
  width: 45px;
  transform: translateX(-17px) translateY(18px) rotate(60deg);
  transition-delay: 0.125s;
}
body header #burger button .toggle.toggle:hover span:nth-child(3) {
  transform: scale(1.3) translateX(20px) translateY(4px);
}
body header #burger button .toggle.toggle:hover span:nth-child(4) {
  width: 45px;
  transform: translateX(6px) translateY(3px) rotate(300deg);
}
body header #burger button .toggle.toggle:hover span:nth-child(5) {
  background-color: black;
  transform: scale(1.6) translateX(22px) translateY(-15px);
}
body header #burger button .toggle.toggle:hover span:nth-child(6) {
  height: 7px;
  width: 46px;
  transform: translateX(-6px) translateY(-32px);
  border-radius: 100% 100% 50% 50%;
}
body header section {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  justify-self: end;
  gap: 5px;
  margin-top: 1dvh;
  margin-right: 1dvh;
}
body header section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  gap: 0.5dvh;
}
body header section div a {
  width: 8dvh;
  height: 5dvh;
  font-weight: bold;
  color: #e9e5e2;
  text-decoration: none;
  text-align: center;
}
body header section div a:hover {
  text-decoration: underline;
}
body header section div a img {
  height: 100%;
  width: 100%;
}
body header #container-logo-header {
  grid-column: 2;
  width: auto;
  height: 22dvh;
}
body header #container-logo-header a {
  text-align: center;
}
body header #container-logo-header a img {
  height: 100%;
  width: 100%;
}
body header #navbar {
  grid-row: 2;
  grid-column: 1/span 3;
  justify-self: center;
}
body header #navbar ul {
  padding: 0.5dvh;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 7dvh;
}
body header #navbar ul li {
  float: left;
}
body header #navbar ul li #bp {
  color: #ae3a33;
}
body header #navbar ul li a {
  font-weight: bold;
  color: #e9e5e2;
  text-decoration: none;
}
body header #navbar ul li a:hover {
  text-decoration: underline;
}
body main {
  position: relative;
  display: flex;
  flex-direction: column;
}
body main section {
  display: flex;
}
body main section #result {
  flex-grow: 1;
  flex-basis: content;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans";
}
body main section #result .article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 500px;
  border: #c7c7c7 solid 2px;
  padding: 3px;
  margin: 1dvh;
  justify-content: space-around;
}
body main section #result .article .entete {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main section #result .article .entete img {
  align-self: center;
  width: 90%;
  height: auto;
}
body main section #result .article .entete .nom-article {
  height: 35px;
  align-self: center;
  font-size: 1.3rem;
  text-align: center;
}
body main section #result .article .entete .viande {
  width: 100%;
  align-self: start;
}
body main section #result .article .prix {
  display: flex;
  justify-content: space-between;
}
body main section #result .article .prix .prix-unit {
  padding-left: 0.5dvh;
  align-self: baseline;
  color: #ae3a33;
  font-weight: bolder;
  font-size: 2rem;
}
body main section #result .article .prix .prix-kg {
  align-self: baseline;
  text-align: end;
  font-size: small;
}
body main section #result .article .add-article {
  align-self: center;
}
body main section #result .article .add-article form {
  width: 100%;
}
body main section #result .article .add-article form input:nth-child(1) {
  width: 20%;
  border-radius: 0.5vh;
  border: #c7c7c7 solid 2px;
  padding: 1dvh 0.5dvh 1dvh 0.5dvh;
}
body main section #result .article .add-article form input:nth-child(2) {
  font-family: "Open Sans";
  width: 70%;
  cursor: pointer;
  font-weight: bold;
  color: #e9e5e2;
  background-color: #ae3a33;
  text-decoration: none;
  border-radius: 1.5vh;
  border: #ae3a33 solid 2px;
  padding: 1vh 3vh 1vh 3vh;
  border-radius: 1vh;
}
body main section #result .article .add-article form input:nth-child(2):hover {
  color: #ae3a33;
  background-color: #e9e5e2;
  text-decoration: underline;
}
body main #contain-search-bar {
  display: flex;
  justify-content: center;
  z-index: 10;
}
body main #contain-search-bar #search-bar {
  margin-top: 2vh;
}
body main #contain-search-bar #search-bar form {
  display: flex;
  flex-direction: row-reverse;
}
body main #contain-search-bar #search-bar form input {
  transition: 0.2s;
  background-color: #e9e5e2;
  border-radius: 1dvh;
  border: #c7c7c7 solid 0.2dvh;
  height: 4vh;
  width: 25vw;
  font-weight: bold;
  outline: none;
  font-weight: bold;
  font-size: larger;
  padding-left: 1vh;
}
body main #contain-search-bar #search-bar form button {
  position: absolute;
  background: none;
  border: none;
  padding-right: 0.5dvw;
  align-self: center;
  cursor: pointer;
}
body main #contain-search-bar #search-bar form button img {
  width: 30px;
  height: 30px;
}
body main #contain-search-bar #search-bar.original {
  margin-top: 2vh;
}
body main #contain-search-bar #search-bar.original form input {
  transition: 0.2s;
  background-color: #e9e5e2;
  border-radius: 1dvh;
  border: #c7c7c7 solid 0.2dvh;
  height: 4vh;
  width: 25vw;
  font-weight: bold;
  outline: none;
}
body main #contain-search-bar #search-bar.fixed {
  margin-top: 2vh;
  position: fixed;
  top: 0;
  opacity: 90%;
}
body main #contain-search-bar #search-bar.fixed form input {
  transition: 0.2s;
  background-color: #e9e5e2;
  border-radius: 1dvh;
  border: #c7c7c7 solid 0.2dvh;
  height: 4vh;
  width: 25vw;
  font-weight: bold;
  outline: none;
}
body main .caroussel {
  height: 70vh;
  width: 100%;
  position: relative;
  align-self: center;
  margin: 4vh 0px 1vh 0px;
  background-color: #e9e5e2;
}
body main .caroussel .btn {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: #231f20;
  transform: translateY(-50%);
  top: 50%;
}
body main .caroussel #prev {
  left: 5px;
}
body main .caroussel #next {
  right: 5px;
}
body main .caroussel li {
  list-style: none;
}
body main .caroussel li a .text-caroussel {
  position: absolute;
  z-index: 15;
  left: 25%;
  bottom: 25%;
  cursor: pointer;
  font-weight: bold;
  color: #e9e5e2;
  background-color: #ae3a33;
  text-decoration: none;
  border-radius: 1.5vh;
  border: #ae3a33 solid 2px;
  padding: 1vh 3vh 1vh 3vh;
}
body main .caroussel li a .text-caroussel:hover {
  color: #ae3a33;
  background-color: #e9e5e2;
  text-decoration: underline;
}
body main .caroussel .slide {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
body main .caroussel .slide.active {
  opacity: 1;
}
body main .caroussel .slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5dvh;
  background-size: cover;
  background-position: center;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(0 0 1.25rem black);
}
body main #dots .dot-carou {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
body main #dots .dot-carou.active {
  background-color: #717171;
}
body main #gotoshopbtn {
  margin: 2vh;
  text-align: center;
}
body main #gotoshopbtn a {
  cursor: pointer;
  font-weight: bold;
  color: #e9e5e2;
  background-color: #ae3a33;
  text-decoration: none;
  border-radius: 1.5vh;
  border: #ae3a33 solid 2px;
  padding: 1vh 3vh 1vh 3vh;
}
body main #gotoshopbtn a:hover {
  color: #ae3a33;
  background-color: #e9e5e2;
  text-decoration: underline;
}
body main #contain-arrowup {
  height: 10vh;
  position: relative;
}
body main #contain-arrowup #arrow-up {
  width: 5vh;
  height: 5vh;
  border-radius: 1vh;
  border: #ae3a33 solid 2px;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}
body main #contain-arrowup #arrow-up a {
  background: none;
  cursor: pointer;
}
body main #contain-arrowup #arrow-up a img {
  width: 5vh;
  height: 5vh;
}
body main #contain-arrowup #arrow-up a:hover img {
  transform: scale(1.2);
}
body main #contain-arrowup #arrow-up:hover {
  transform: scale(1.1);
}
body footer {
  position: relative;
  width: 100%;
  background-color: #231f20;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 0.2fr;
  justify-items: center;
}
body footer #newsletter {
  border: solid 2px #e9e5e2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-row: 1/span 3;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 5dvw;
  padding-right: 5dvw;
}
body footer #newsletter h4 {
  color: #e9e5e2;
  padding: 0px 20px 0px 20px;
  font-weight: normal;
}
body footer #newsletter input {
  margin: 20px 5px 20px 5px;
  border-radius: 7px;
  background-color: #e9e5e2;
  outline: none;
}
body footer #newsletter button {
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 7px;
  background-color: #e9e5e2;
  color: #231f20;
}
body footer #footer-icons {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 40px;
}
body footer #footer-icons .line {
  border: #ae3a33 solid 0.1dvh;
}
body footer #footer-icons div {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
}
body footer #footer-icons div a {
  font-weight: bold;
  color: #e9e5e2;
  text-decoration: none;
  align-self: center;
  text-align: center;
}
body footer #footer-icons div a:hover {
  text-decoration: underline;
}
body footer #footer-icons div a img {
  height: 8dvh;
  width: 8dvh;
}
body footer #contain-logo-footer {
  width: auto;
  height: 20dvh;
  grid-row: 2;
  grid-column: 1/span 3;
  text-align: center;
  align-self: flex-end;
  grid-column: 2;
}
body footer #contain-logo-footer a img {
  height: 100%;
  width: 100%;
}
body footer #bottom-txt {
  grid-row: 3;
  grid-column: 2;
}
body footer #bottom-txt p {
  color: #e9e5e2;
}
body footer #bottom-txt p a {
  color: #e9e5e2;
  text-decoration: none;
}
body footer #bottom-txt p a:hover {
  text-decoration: underline;
}
body footer #social-media {
  grid-row: 1;
  grid-column: 3;
  display: flex;
  gap: 5vh;
  align-self: center;
}
body footer #social-media a img {
  height: 7vh;
  width: 7vh;
}
body footer #paiement {
  align-self: flex-end;
}
body footer #paiement img {
  height: 5vh;
  width: 5vh;
}

@media only screen and (max-width: 1410px) {
  body header #navbar ul {
    gap: 5dvh;
  }
  body footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body footer #paiement {
    align-self: center;
  }
  body footer #contain-logo-footer {
    align-self: center;
  }
  body footer #footer-icons {
    flex-wrap: wrap;
  }
  body footer #newsletter {
    margin: 1.5rem 0 1.5rem 0;
    padding-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 1120px) {
  body header #navbar ul {
    gap: 3dvh;
  }
}
@media only screen and (max-width: 923px) {
  body header #burger {
    display: block;
    align-self: center;
  }
  body header #navbar {
    display: none;
  }
  body header section {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-right: 0;
    gap: 2dvh;
  }
  body header section div .header-txt {
    display: none;
  }
}
@media only screen and (max-width: 923px) {
  body footer #footer-icons .footer-icon a img {
    width: 5dvh;
    height: 5dvh;
  }
}
@media only screen and (max-width: 430px) {
  body footer #footer-icons .line:nth-of-type(even) {
    display: none;
  }
  body footer #footer-icons .footer-icon a img {
    width: 5dvh;
    height: 5dvh;
  }
}/*# sourceMappingURL=style.css.map */